{% extends "base.html" %}
{% block title %}Тест на определение вашего финансового поведения{% endblock %}
{% block description %}Кафедра Системного программирования Математико-механического факультета и Экономического факультета СПбГУ.{% endblock %}

{% block content %}
<!-- Main content -->

<section class="slice slice-lg pt-8">
        <!-- Container -->
        <div class="container">
            <!-- Section title -->
            <div class="row mb-5 justify-content-center text-center">
                <div class="col-lg-8 col-md-10">
                    <h3 class="mt-4">У вас "Доверчивый тип финансового поведения"</h3>
                </div>
            </div>

            <div class="row justify-content-lg-end">
                <div class="col-lg-5">
                    <h4>Распространенные симптомокомплексы в условиях финансовой тревоги</h4>
                </div>
                <div class="col-lg-7">
                    <ul>
                        <li>Отсутствие ярких характеристик финансовой тревожности</li>
                    </ul>
                </div>
            </div>
            <hr class="divider divider-fade py-2">
            <div class="row justify-content-lg-end">
                <div class="col-lg-5">
                    <h4>Психологические риски</h4>
                </div>
                <div class="col-lg-7">
                    <ul>
                        <li>Доверие с опорой на внутреннее чутье</li>
                        <li>Доверие первому впечатлению</li>
                    </ul>
                </div>
            </div>
            <hr class="divider divider-fade py-2">
            <div class="row justify-content-lg-end">
                <div class="col-lg-5">
                    <h4>Финансовые риски</h4>
                </div>
                <div class="col-lg-7">
                    <ul>
                        <li>Финансовая доверчивость</li>
                        <li>Неуверенность в финансовом будущем</li>
                        <li>Отсутствие финансовой безопасности</li>
                        <li>Риск оказаться жертвой финансовых мошенников</li>
                    </ul>
                </div>

            </div>
            <hr class="divider divider-fade py-2">
            <div class="row justify-content-lg-end">
                <div class="col-lg-5">
                    <h4>Код психологической уязвимости</h4>
                </div>
                <div class="col-lg-7">
                    <ul>
                        <li>Воздействие инструктажем</li>
                        <li>Воздействие обязательством</li>
                        <li>Воздействие страхом</li>
                        <li>Воздействие профайлингом</li>
                        <li>Воздействие сравнением</li>
                        <li>Воздействие экспертностью</li>
                    </ul>
                </div>

            </div>
            <hr class="divider divider-fade py-2">
            <div class="row justify-content-lg-end">
                <div class="col-lg-5">
                    <h4>Что делать</h4>
                </div>
                <div class="col-lg-7">
                    <ul>
                        <li>Рационализация финансового поведения</li>
                        <li>Финансовая грамотность</li>
                        <li>Финансовая активность</li>
                        <li>Готовность брать на себя ответственность за свои финансовые действия</li>
                        <li>Снижение патернализма</li>
                    </ul>
                </div>

            </div>

        </div>
    </section>

{% endblock %}