{% extends "base.html" %}
{% block title %}Тест на определение вашего финансового поведения{% endblock %}
{% block description %}Кафедра Системного программирования Математико-механического факультета и Экономический факультета СПбГУ{% endblock %}

{% block content %}
<!-- Main content -->

<section class="slice slice-lg pt-8">
        <!-- Container -->
        <div class="container">
            <!-- Section title -->
            <div class="row mb-5 justify-content-center text-center">
                <div class="col-lg-8 col-md-10">
                    <h3 class="mt-4">У вас "Тревожный тип финансового поведения"</h3>
                </div>
            </div>

            <div class="row justify-content-lg-end">
                <div class="col-lg-5">
                    <h4>Распространенные симптомокомплексы в условиях финансовой тревоги</h4>
                </div>
                <div class="col-lg-7">
                    <ul>
                        <li>Яркие характеристики финансовой тревожности</li>
                        <li>Сложности в концентрации внимания</li>
                        <li>Внутренняя скованность</li>
                        <li>Внутренняя скованность</li>
                        <li>Головокружение</li>
                        <li>Раздражительность</li>
                        <li>Скованность мышц и тяжелое дыхание</li>
                    </ul>
                </div>
            </div>
            <hr class="divider divider-fade py-2">
            <div class="row justify-content-lg-end">
                <div class="col-lg-5">
                    <h4>Психологические риски</h4>
                </div>
                <div class="col-lg-7">
                    <ul>
                        <li>Длительная концентрация на проблеме</li>
                        <li>Беспокойство</li>
                        <li>Неспособность расслабиться</li>
                        <li>Отсутствие уверенности в завтрашнем дне</li>
                    </ul>
                </div>

            </div>
            <hr class="divider divider-fade py-2">
            <div class="row justify-content-lg-end">
                <div class="col-lg-5">
                    <h4>Финансовые риски</h4>
                </div>
                <div class="col-lg-7">
                    <ul>
                        <li>Страх невозврата кредита</li>
                        <li>Отсутствие страха перевода денег в интернете</li>
                    </ul>
                </div>

            </div>
            <hr class="divider divider-fade py-2">
            <div class="row justify-content-lg-end">
                <div class="col-lg-5">
                    <h4>Код психологической уязвимости</h4>
                </div>
                <div class="col-lg-7">
                    <ul>
                        <li>Роль друга</li>
                    </ul>
                </div>

            </div>
            <hr class="divider divider-fade py-2">
            <div class="row justify-content-lg-end">
                <div class="col-lg-5">
                    <h4>Что делать</h4>
                </div>
                <div class="col-lg-7">
                    <ul>
                        <li>Рационализация страхов</li>
                        <li>Контроль финансовой безопасности</li>
                        <li>Переключение эмоций</li>
                        <li>Положительный настрой</li>
                        <li>Приятие финансовых решений «здесь и сейчас»</li>
                        <li>Снижение отклика на рекомендации друзей</li>
                    </ul>
                </div>

            </div>

        </div>
    </section>

{% endblock %}