{% extends "base.html" %}
{% block title %}Тест на определение вашего финансового поведения{% endblock %}
{% block description %}Кафедра Системного программирования Математико-механического факультета и Экономический факультета СПбГУ{% endblock %}

{% block content %}
<!-- Main content -->

<section class="slice slice-lg pt-8">
        <!-- Container -->
        <div class="container">
            <!-- Section title -->
            <div class="row mb-5 justify-content-center text-center">
                <div class="col-lg-8 col-md-10">
                    <h3 class="mt-4">У вас "Рациональный тип финансового поведения"</h3>
                </div>
            </div>

            <div class="row justify-content-lg-end">
                <div class="col-lg-5">
                    <h4>Распространенные симптомокомплексы в условиях финансовой тревоги</h4>
                </div>
                <div class="col-lg-7">
                    <ul>
                        <li>Отсутствие ярких характеристик финансовой тревожности</li>
                    </ul>
                </div>
            </div>
            <hr class="divider divider-fade py-2">
            <div class="row justify-content-lg-end">
                <div class="col-lg-5">
                    <h4>Психологические риски</h4>
                </div>
                <div class="col-lg-7">
                    <ul>
                        <li>Недоверие чувствам и ощущениям при принятии решений</li>
                        <li>Недоверие интуиции при любых ситуациях</li>
                        <li>Недоверие инстинктам при решении жизненных проблем</li>
                    </ul>
                </div>

            </div>
            <hr class="divider divider-fade py-2">
            <div class="row justify-content-lg-end">
                <div class="col-lg-5">
                    <h4>Финансовые риски</h4>
                </div>
                <div class="col-lg-7">
                    <ul>
                        <li>Взвешенное чувство при принятии финансовых решений</li>
                        <li>Расчетливость и финансовое планирование</li>
                        <li>Нежелание зависеть от чужого мнения</li>
                        <li>Сниженное финансовое доверие</li>
                    </ul>
                </div>

            </div>
            <hr class="divider divider-fade py-2">
            <div class="row justify-content-lg-end">
                <div class="col-lg-5">
                    <h4>Код психологической уязвимости</h4>
                </div>
                <div class="col-lg-7">
                    <ul>
                        <li>Отсутствие ярких характеристик финансовой уязвимости</li>
                    </ul>
                </div>

            </div>
            <hr class="divider divider-fade py-2">
            <div class="row justify-content-lg-end">
                <div class="col-lg-5">
                    <h4>Что делать</h4>
                </div>
                <div class="col-lg-7">
                    <ul>
                        <li>Ограничение рационализации финансового поведения</li>
                        <li>Ограничение волюнтаризма</li>
                        <li>Снижение переоценки своих знаний в области финансов</li>
                    </ul>
                </div>

            </div>

        </div>
    </section>

{% endblock %}